<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.localflow</string>
  <key>ProgramArguments</key><array>
    <string>__ROOT__/.venv/bin/python</string>
    <string>-m</string><string>localflow</string>
    <string>ui</string>
  </array>
  <key>WorkingDirectory</key><string>__ROOT__</string>
  <key>StandardOutPath</key><string>__HOME__/.localflow/localflow.log</string>
  <key>StandardErrorPath</key><string>__HOME__/.localflow/localflow.err.log</string>
  <key>EnvironmentVariables</key><dict>
    <key>PYTHONUNBUFFERED</key><string>1</string>
  </dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><dict>
    <key>SuccessfulExit</key><false/>
  </dict>
  <key>ThrottleInterval</key><integer>10</integer>
</dict></plist>
